/* Styles for all button */
.navbar-box button {
  border: 2px solid transparent;
  background-color: transparent;
  border-image: linear-gradient(
    180deg,
    transparent 20%,
    black,
    black,
    black,
    black,
    black,
    transparent,
    transparent
  );
  border-image-slice: 1;
  transition: background-color 0.3s ease;
}
.navbar-box button:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-image: linear-gradient(180deg, transparent, black, black, transparent)
    1;
}

.navbar-box {
  width: calc(99.7%);
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.15);
  box-shadow:
    inset 5px 5px 3px rgba(100, 100, 100, 0.7),
    5px 5px 1px rgba(100, 100, 100, 0.5),
    5px -5px 5px grey;
}

/* Starting part of navbar */
.navbar-initial {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 25%;
}

/* buttons of it */
.navbar-initial > * {
  height: 100%;
  padding: 2%;

  font-size: clamp(1rem, 1.5vw, 3rem);
}

/* The journalMax title */
.navbar-title {
  font-size: clamp(0.5rem, 3vw, 3.5rem);
  letter-spacing: 1px;
}

/* The end part of navbar */
.navbar-end {
  width: 35%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* The components of ending of navbar */
.navbar-end > * {
  height: 100%;
  padding: 2%;
  font-size: clamp(0.5rem, 1.5vw, 3rem);
}
